body {
    background-color: #eceff1;
    font-family: sans-serif;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: inset;
}
